@keyframes fade-In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-In-Top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-In-Bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-In-Left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-In-Right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-Out-Top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes fade-Out-Bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes fade-Out-Left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
@keyframes fade-Out-Right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
@keyframes shake-X {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake-Y {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump-In-Top {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  50% {
    opacity: 1;
    transform: translateY(100px);
  }
  75% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump-In-Bottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 1;
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump-In-Left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  50% {
    opacity: 1;
    transform: translateX(100px);
  }
  70% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes jump-In-Right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  50% {
    opacity: 1;
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes jump-Out-Top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
@keyframes jump-Out-Bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
@keyframes jump-Out-Left {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes jump-Out-Right {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateX(-100px);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
@keyframes bounce-In {
  0% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce-Out {
  0% {
    transform: scale3d(1, 1, 1);
  }
  20% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  60% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
@keyframes rotate-X {
  0% {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateX(-20deg);
  }
  70% {
    transform: rotateX(380deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes rotate-Y {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(-20deg);
  }
  70% {
    transform: rotateY(380deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotate-Z {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(-20deg);
  }
  70% {
    transform: rotateZ(380deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes spin-In {
  0% {
    opacity: 0;
    transform: rotateZ(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: rotateZ(360deg) scale(1);
  }
  100% {
    transform: rotateZ(360deg) scale(1);
  }
}
@keyframes spin-Out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: rotateZ(360deg) scale(1);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateZ(0deg) scale(0);
  }
}
.wicked-fade-In {
  animation-name: fade-In;
  animation-duration: 1s;
}
.wicked-fade-In-Top {
  animation-name: fade-In-Top;
  animation-duration: 1s;
}
.wicked-fade-In-Bottom {
  animation-name: fade-In-Bottom;
  animation-duration: 1s;
}
.wicked-fade-In-Left {
  animation-name: fade-In-Left;
  animation-duration: 1s;
}
.wicked-fade-In-Right {
  animation-name: fade-In-Right;
  animation-duration: 1s;
}
.wicked-fade-Out {
  animation-name: fade-Out;
  animation-duration: 1s;
}
.wicked-fade-Out-Top {
  animation-name: fade-Out-Top;
  animation-duration: 1s;
}
.wicked-fade-Out-Bottom {
  animation-name: fade-Out-Bottom;
  animation-duration: 1s;
}
.wicked-fade-Out-Left {
  animation-name: fade-Out-Left;
  animation-duration: 1s;
}
.wicked-fade-Out-Right {
  animation-name: fade-Out-Right;
  animation-duration: 1s;
}
.wicked-shake-X {
  animation-name: shake-X;
  animation-duration: 1s;
}
.wicked-shake-Y {
  animation-name: shake-Y;
  animation-duration: 1s;
}
.wicked-jump-In-Top {
  animation-name: jump-In-Top;
  animation-duration: 1s;
}
.wicked-jump-In-Bottom {
  animation-name: jump-In-Bottom;
  animation-duration: 1s;
}
.wicked-jump-In-Left {
  animation-name: jump-In-Left;
  animation-duration: 1s;
}
.wicked-jump-In-Right {
  animation-name: jump-In-Right;
  animation-duration: 1s;
}
.wicked-jump-Out-Top {
  animation-name: jump-Out-Top;
  animation-duration: 1s;
}
.wicked-jump-Out-Bottom {
  animation-name: jump-Out-Bottom;
  animation-duration: 1s;
}
.wicked-jump-Out-Left {
  animation-name: jump-Out-Left;
  animation-duration: 1s;
}
.wicked-jump-Out-Right {
  animation-name: jump-Out-Right;
  animation-duration: 1s;
}
.wicked-bounce-In {
  animation-name: bounce-In;
  animation-duration: 1s;
}
.wicked-bounce-Out {
  animation-name: bounce-Out;
  animation-duration: 1s;
}
.wicked-rotate-X {
  animation-name: rotate-X;
  animation-duration: 1s;
}
.wicked-rotate-Y {
  animation-name: rotate-Y;
  animation-duration: 1s;
}
.wicked-rotate-Z {
  animation-name: rotate-Z;
  animation-duration: 1s;
}
.wicked-spin-In {
  animation-name: spin-In;
  animation-duration: 1s;
}
.wicked-spin-Out {
  animation-name: spin-Out;
  animation-duration: 1s;
}

.duration-1 {
  animation-duration: 1s;
}

.duration-2 {
  animation-duration: 2s;
}

.duration-3 {
  animation-duration: 3s;
}

.duration-4 {
  animation-duration: 4s;
}

.duration-5 {
  animation-duration: 5s;
}

.duration-6 {
  animation-duration: 6s;
}

.repeat-1 {
  animation-iteration-count: 1;
}

.repeat-2 {
  animation-iteration-count: 2;
}

.repeat-3 {
  animation-iteration-count: 3;
}

.repeat-4 {
  animation-iteration-count: 4;
}

.repeat-5 {
  animation-iteration-count: 5;
}

.infinite {
  animation-iteration-count: infinite;
}

.forwards {
  animation-fill-mode: forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-600 {
  animation-delay: 0.6s;
}

.delay-700 {
  animation-delay: 0.7s;
}

.delay-800 {
  animation-delay: 0.8s;
}

.delay-900 {
  animation-delay: 0.9s;
}

.delay-1000 {
  animation-delay: 1s;
}

/*# sourceMappingURL=wicked.css.map */
