.wicked {
    &-fadeIn {
        animation-name: fadeIn;
        animation-duration: 1s;
    }

    &-fadeInTop {
        animation-name: fadeInTop;
        animation-duration: 1s;
    }

    &-fadeInBottom {
        animation-name: fadeInBottom;
        animation-duration: 1s;
    }

    &-fadeInLeft {
        animation-name: fadeInLeft;
        animation-duration: 1s;
    }

    &-fadeInRight {
        animation-name: fadeInRight;
        animation-duration: 1s;
    }

    &-fadeOut {
        animation-name: fadeOut;
        animation-duration: 1s;
    }

    &-fadeOutTop {
        animation-name: fadeOutTop;
        animation-duration: 1s;
    }

    &-fadeOutBottom {
        animation-name: fadeOutBottom;
        animation-duration: 1s;
    }

    &-fadeOutLeft {
        animation-name: fadeOutLeft;
        animation-duration: 1s;
    }

    &-fadeOutRight {
        animation-name: fadeOutRight;
        animation-duration: 1s;
    }

    &-shakeX {
        animation-name: shakeX;
        animation-duration: 1s;
    }

    &-shakeY {
        animation-name: shakeY;
        animation-duration: 1s;
    }

    &-jumpInTop {
        animation-name: jumpInTop;
        animation-duration: 1s;
    }

    &-jumpInBottom {
        animation-name: jumpInBottom;
        animation-duration: 1s;
    }

    &-jumpInLeft {
        animation-name: jumpInLeft;
        animation-duration: 1s;
    }

    &-jumpInRight {
        animation-name: jumpInRight;
        animation-duration: 1s;
    }

    &-jumpOutTop {
        animation-name: jumpOutTop;
        animation-duration: 1s;
    }

    &-jumpOutBottom {
        animation-name: jumpOutBottom;
        animation-duration: 1s;
    }

    &-jumpOutLeft {
        animation-name: jumpOutLeft;
        animation-duration: 1s;
    }

    &-jumpOutRight {
        animation-name: jumpOutRight;
        animation-duration: 1s;
    }

    &-bounceIn {
        animation-name: bounceIn;
        animation-duration: 1s;
    }

    &-bounceOut {
        animation-name: bounceOut;
        animation-duration: 1s;
    }

    &-rotateX {
        animation-name: rotateX;
        animation-duration: 1s;
    }

    &-rotateY {
        animation-name: rotateY;
        animation-duration: 1s;
    }

    &-rotateZ {
        animation-name: rotateZ;
        animation-duration: 1s;
    }

    &-spinIn {
        animation-name: spinIn;
        animation-duration: 1s;
    }

    &-spinOut {
        animation-name: spinOut;
        animation-duration: 1s;
    }
}