
.duration-1 {
    animation-duration: 1s;}
.duration-2 {
    animation-duration: 2s;}
.duration-3 {
    animation-duration: 3s;}
.duration-4 {
    animation-duration: 4s;}
.duration-5 {
    animation-duration: 5s;}
.duration-6 {
    animation-duration: 6s;
}

